* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media(min-width:825px) {
    body {
        background-image: url(../img/dawn.png);
    }
}

@media(min-width:535px) and (max-width:824px) {
    body {
        background-image: url(../img/Landscape.jpg);
    }
}

@media(min-width:200px) and (max-width:534px) {
    body {
        background-image: url(../img/maxresdefault.jpg);
    }
}